<div class="float-right">
    <div class="cursor add-icon" (click)="openCompanyModal()" [inlineSVG]="'assets/icons/add.svg'"></div>

</div>

<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="cnpj">
                    <th mat-header-cell *matHeaderCellDef> CNPJ </th>
                    <td mat-cell *matCellDef="let element"> {{element.cnpj}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Nome Empresa </th>
                    <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="site">
                    <th mat-header-cell *matHeaderCellDef> Site </th>
                    <td mat-cell *matCellDef="let element"> {{element.site}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="w-1em cursor" (click)="openCompanyModal(element._id)"
                            [inlineSVG]="'assets/icons/edit.svg'"></div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="cursor" [inlineSVG]="'assets/icons/garbage.svg'"></div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

        </div>
    </div>
</div>