@import './colors';

.user-text{
    background: #484848;
    padding: 1em;
    width: 20em;
    color: white;
    margin: 1em;
    border-radius: 1em 1em 1em 0em;
}

.adm-text{
    float: right;
    background: black;
    color: white;
    width: 15em;
    margin: .4em 1em 0 auto;
    text-align: right;
    padding: 1em;
    border-radius: 1em 1em 0em 1em;
}
.p-1em{
    padding: 1em;
}

.d-grid{
    display: grid;
}