@import './colors';


.title-icon{
    fill: $black;
    padding: 1em 0em;
    width: 2em;
}

.tickets{
    overflow-y: auto;
    height: 34em;
    border: 1px solid #e6e6e6;

}

.ticket-item{
    background: $white;
    padding: .1em .8em;
    cursor: pointer;
}

.ticket-header{
    background: $lighter-gray;
    display: flex;
    .ticket-icon{
        width: 2em;
        fill: $black;
        padding: 1em 0em;
        cursor: pointer;
        &:hover{
            fill: $dark-blue;
        }
    }       
}

.ticket-content{
    height: 30em;
    padding: 1em;
    overflow-y: auto;
    background: $lighter-gray;
}