@import './colors';

.title-icon {
  fill: $black;
  padding: 1em 0em;
  width: 2em;
}

.tickets {
  overflow-y: auto;
  max-height: 34rem;
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(147, 147, 147, 0.16);
  margin-bottom: 20px;
}

.ticket-item {
  background: $white;
  padding: 1em 1.5em .4em;
  cursor: pointer;
  h6 {
    font-family: 'Crete Round';
    font-weight: bold;
  }
}

.chat {
  border-radius: 10px;
  box-shadow: 0px 10px 30px 0px rgba(147, 147, 147, 0.16);
  overflow: hidden;
  margin-bottom: 30px;

  .mat-form-field-infix {
    border-top: 0;
  }
}


.ticket-header {
  background: $dark-blue;
  display: flex;

  .ticket-icon {
    width: 2em;
    fill: $clean-blue;
    padding: 1em 0em;
    cursor: pointer;
    transition: all .4s;

    &:hover {
      fill: $white;
    }
  }
}

.ticket-content {
  height: 30em;
  padding: 1em;
  overflow-y: auto;
  background: #d7e3f0;
  // box-shadow: 0px 10px 30px 0px rgba(147, 147, 147, 0.16);
}
