@import './colors';


.m-t-1em{
  margin: 1em 0em 0em 0em;
}

.m-1em{
  margin: 1em;
}

.w-5em{
  width: 5em;
}

.center-object{
    margin: 0 auto;
    text-align: center;
}

.home-item{
    background: linear-gradient(to bottom right, $clean-blue, $dark-blue);
    border-radius: 2em;
    cursor: pointer;
    width: 15em;
    margin: 1em;
    padding: 4em;
}

.add-icon{
  width: 2em;
  margin: 1em;
  &:hover{
    fill: $green;
  } 
}

.power-icon{
  width: 2em;
  margin: 1em;
  cursor: pointer;
  &:hover{
      fill: $red;
  }
}

.cursor{
  cursor: pointer;
}

.bg-primary{
    width: 100%;
    height: 100%;
}

.w-1em{
  width: 1em;
}

::-webkit-scrollbar {
    width: 5px;
}

.b-bottom{
  border-bottom: 1px solid lightgrey;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border: 0;
    border-radius: 1em;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .red-fill:hover{
    fill: $red;
  }

  .blue-fill:hover{
    fill: $clean-blue;
  }

  .red-text{
    color: $red;
  }