<div class="app-navbar">
  <mat-toolbar>
    <div class="container">
      <mat-toolbar-row>
        <div class="username-logged">
          <div class="title-icon mr-2" [inlineSVG]="'assets/icons/robot.svg'"></div>
          Olá, {{company?.fantasyName}}!
        </div>
        <div class="left-items-menu">
          <button mat-button mat-icon-button color="warn" matTooltip="Realizar Logout" (click)="exit()">
            <mat-icon>power_settings_new</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </div>
  </mat-toolbar>
</div>
