.mat-toolbar {
  background-color: white;
  color: #123b68 !important;
  border-bottom: 3px solid #588cc6;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
  margin-bottom: 30px;

  .mat-toolbar-row {
    justify-content: space-between !important;

    .username-logged {
      align-items: center;
      display: flex;

      .title-icon {
        fill: #123b68;
      }
    }

    .left-items-menu {
      align-items: center;
      display: flex;
      justify-content: center;

      .mat-icon-button {
        .mat-icon {
          font-size: 22px;
          height: auto;
          width: auto;
        }
      }
    }
  }
}
