
@import url('https://fonts.googleapis.com/css?family=Poppins');

$poppins: 'Poppins', sans-serif;
$poppins-regular: 'Poppins-Regular', sans-serif;
$poppins-light: 'Poppins-Light', sans-serif;
$poppins-bold: 'Poppins-Bold', sans-serif;
