
///margins///

.m-10{
    
    margin: 10px;

}
.m-l-5perc{
    margin-left: 5%;
}
.m-t-20{
    margin-top: 20px;
}
.m-t-50{
    margin-top: 50px !important;
}
.m-t-100{
    margin-top: 100px;
}
.m-t-400{
    margin-top: 400px;
}

.white-text{
    color: $white;
}

.op-0{
    opacity: 0;
}


/////float/////

.justify-text{
    text-align: justify;
    margin-top: 20px;
    padding: 0px 28%;
    @media (max-width: 960px){
        padding: 0px;
    }
}
.float-r{
    float: right;
}

.float-l{
    float: left;
}

.center-content{
    margin: 0 auto;
    text-align: center;
 
}

/////////CURSOR//////////

.pointer{
    cursor: pointer;
}