<div class="center-object title-icon" [inlineSVG]="'assets/icons/robot.svg'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="tickets">
                <div class="ticket-header">
                    <div class="center-object ticket-icon" [inlineSVG]="'assets/icons/ticket.svg'"></div>
                    <div class="center-object ticket-icon" [inlineSVG]="'assets/icons/pie-chart.svg'"></div>
                </div>
                <div class="ticket-item">

                    <h5>Não recebi meu produto</h5>
                    <div class="">
                        <p>André Sanches</p>
                        <p class="text-right">20/09/2019</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-8 col-12">
            <div class="ticket-content">
                <p class="user-text">alo</p>
                <p class="adm-text">alo</p>
            </div>
            <mat-form-field class="w-100">
                <input matInput type="text" placeholder="Digite">
            </mat-form-field>
        </div>
    </div>
</div>