
@import './../../assets/scss/fonts.scss';
@import './../../assets/scss/colors.scss';

.title{
    font-family: $poppins;
    font-weight: bold;
    font-size: 5em;
    margin-top: 140px;
    color: $white;
}

.subtitle{
    font-family: $poppins-light;
    font-size: 24px;
    color: $white;
}
.text{
    font-family: $poppins-light;
    font-size: 14px;
    color: $black;


}
.light-text{
    font-family: $poppins-light;
    font-size: 26px;
    color: $dark-blue;

}

.regular-subtitle{
    font-family: $poppins-regular;
    color: $dark-blue;
    font-size: 51px;
}

.bold-text{
    font-weight: bold;
}

.comaImage{
    width: 22%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bolder-title{
    font-size: 51px;
    font-weight: bold;
    font-family: $poppins;
    color: $dark-blue;
}

.box-contact{
    box-shadow: 0px 5px 15px black;
    padding: 20px;
    padding-bottom: 60px;
    height: 100%;
}

.spaced-text{
    letter-spacing: 4px;
    font-weight: bold;
    color: $dark-blue;
}

.bgImage{
    width: 100%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn-start{
    background: transparent;
    border: 2px solid $dark-blue;
    border-radius: 30px;
    padding: 5px 40px;
    font-family: $poppins-light;
    color: $dark-blue;
    text-transform: uppercase;
    transition: background 0.5s;
}


.btn-start:hover{
    background: $dark-blue;
    color: $white;
}

.chat-button{
    margin-left: 95%;
    top: 90%;
    position: fixed;
    background-color: $dark-blue;
    padding: 15px;
    border-radius: 10px 20px;
    color: $white;
    cursor: pointer; 
    z-index: 999; 
    // opacity: 1;
    // transition: opacity 1s ease-out;
}

.chat-box{
    width: 25%;
    padding: 10px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px black;
    position: fixed;
    margin-left: 73%;
    z-index: 999;
    margin-top: 15%;
}


.send-text-input{
    width: 75%;
}

.send-text-button{
    width: 20%;
    border: 1px solid gray;
}
.chat{
    margin-top: 25px;
    height: 300px;
    width: 95%;
    overflow-y: scroll;
    position: absolute;

}
.headerBox{
}

.footerBox{    
    bottom: 10px;
    width: 100%;
    position: absolute;
    display: flex;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.user-color{
    background-color: #ecebeb;
    width: auto;
    padding: 10px;
    border-radius: 10px 10px 0px 10px;
    margin-left: 60px;
}

.bot-color{
    background-color: $dark-blue;
    color: $white;
    width: auto;
    padding: 10px;
    margin-right: 60px;
    border-radius: 10px 10px 10px 0px;

}
.options-wrapper{
    display: -webkit-box;
}
.btn-option{
    border: 2px solid $dark-blue;
    color: $dark-blue;
    font-weight: 500;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
    border-radius: 10px;
    background-color: transparent;
    display: inline-block;
}