<div class="app-manager">
  <mat-toolbar>
    <div class="container">
      <mat-toolbar-row>
        <div class="logo">ManagerChat</div>
        <div class="left-items-menu">
          <span class="welcome-user">Bem vindo, <strong>{{company?.companyName}}</strong></span>
          <button mat-button mat-icon-button color="warn" matTooltip="Realizar Logout" (click)="exit()">
            <mat-icon>power_settings_new</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </div>
  </mat-toolbar>
  <div class="container">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Dashboards">
        Gráficos
      </mat-tab>
      <mat-tab label="Empresas">
        <app-list-company></app-list-company>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
