<div class="container">
    <h1 class="text-center home-title">Bem Vindo ao ChatManager</h1>
    <div class="row">
            <div class="home-item">
                <div class="login-icon center-object" [inlineSVG]="'assets/icons/statistics.svg'"></div>
            </div>
            <div class="home-item">
                <div class="login-icon center-object" [inlineSVG]="'assets/icons/services.svg'"></div>
            </div>
            <div class="home-item">
                <div class="login-icon center-object" [inlineSVG]="'assets/icons/brain.svg'"></div>
            </div>
            <div class="home-item">
                <div class="login-icon center-object" [inlineSVG]="'assets/icons/configs.svg'"></div>
            </div>

    </div>
</div>