<footer class="footer">
    <div class="center-content m-t-50">
            <p class="text-right">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            <div class="flex">
                <img class="redes" src="assets/images/social-facebook-circular-button.png" alt="">
                <img class="redes" src="assets/images/social-twitter-circular-button.png" alt="">
                <img class="redes" src="assets/images/Agrupar 66.png" alt="">
            </div>
    </div>
   
</footer>
